<h1>COMP SCI HEROES Inc.</h1>

<p>Are you being harrassed and need a Super Hero to save you?</p>

<!-- TODO: When the app index is created change the link to that. Change button to be fancy -->

<div id="link"> <%= link_to 'Report Listing', reports_path(), :id => "link", 'data-no-turbolink' => true %> </div>

