<link href='https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

<h1>CompSci HEROES inc.</h1>

<!-- TODO: When the app index is created change the link to that. Change button to be fancy -->

<p><a><%= link_to 'Are You In Danger?', reports_path(), 'data-no-turbolink' => true %></a></p>

