<html>
    <h1> You're problem has been solved by a Hero!</h1>
    <p> The Description of your problem:
        <%= @report.desc %>
    </p>
    
    <p>
        If you'd like, you may leave a testimonial of your experience 
        <a href = "https://group-project3155-zpaden.c9users.io/testimonials/new">here</a>. Thanks for choosing Comp Sci HEROS, INC.
    </p>
    
</html>