<header>
    <div class="container">
      <h2 class="logo">Testimonials</h2>
      <nav>
        <ul>
          <li>   <a href ="/reports/"><p id="navbar_p_elements">Listing Reports</p></a></li>
          <li><a href="/testimonials"><p id="navbar_p_elements">Testimonials</p></a></li>
          <li>      <a href="/heroes"><p id="navbar_p_elements">Heroes</p></a></li>
        </ul>
      </nav>
    </div>
  </header>
  
<button class = "button button3" onclick="location.href='/testimonials/new'" id = "make_testimonial_button">Make A Testimonial</button>
<div class = "testimonial">
  
  <% @testimonials.each do |testimonial| %>
    
      <p>
          <strong>Title:</strong> 
          <%= testimonial.title %>
      </p>
      
      <p>
          <strong>Name:</strong> 
          <%= testimonial.name %>
      </p>
      
      <p id = "desc">
          <%= testimonial.desc %>
      </p>
    
    <hr>
    
  <% end %>
</div>

