<header>
    <div class="container">
      <h2 class="logo">Testimonials</h2>
      <nav>
        <ul>
          <li><a href="/welcome/index">Home</a></li>
          <li><a href ="/reports/">Listing Reports</a></li>
          <li><a href="/testimonials">Testimonials</a></li>
          <li><a href="/heroes">Heroes</a></li>
        </ul>
      </nav>
    </div>
  </header>


<div class = "testimonial">
  <button class = "button button3" onclick="location.href='/testimonials/new'">Make A Testimonial!</button>
  <% @testimonials.each do |testimonial| %>
  
      <p class = "title">
        <strong>Title:</strong> 
        <%= testimonial.title %>
    </p>
    
    <p class = "title">
        <strong>Name:</strong> 
        <%= testimonial.name %>
    </p>
    
    <p class = "testimonial" style = 'margin: 1px 40px 1px;'>
        <%= testimonial.desc %>
    </p>
    
    <hr style = " margin:5px 80px 5px;" />
    
  <% end %>
  
  <button class = "button button3" onclick="location.href='/reports/'">Back</button>
</div>

