<header>
    <div class="container">
      <h2 class="logo">Listing Report</h2>
      <nav>
        <ul>
          
            <li><a href ="/reports/"><p id = "navbar_lis" >Listing Reports</p></a></li>
            <li><a href="/testimonials"><p id = "navbar_lis" >Testimonials</p></a></li>
            <li><a href="/heroes"><p id = "navbar_lis" >Heroes</p></a></li>
          
        </ul>
      </nav>
    </div>
  </header>


<div style='width: 800px; margin: center;  padding-top:10px;' id  = "map-container"> 
    <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google'), { disableDefaultUI: true };
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

<div style="text-align:center;">
<button class = "button button3" onclick="location.href='/reports/new'">New Report</button>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
 
  <% @reports.each do |report| %>
    <tr>
      <td><%= report.title %></td>
      <td><%= report.location %></td>
      <td><%= report.desc %></td>
     
    </tr>
  <% end %>
</table>