<header>
    <div class="container">
      <h2 class="logo">New Report</h2>
      <nav>
        <ul>
          <li><a href="/welcome/index">Home</a></li>
          <li><a href ="/reports/">Listing Reports</a></li>
          <li><a href="/testimonials">Testimonials</a></li>
          <li><a href="/heroes">Heroes</a></li>
        </ul>
      </nav>
    </div>
  </header>

<%= render 'form' %>

<button class = "button button3" onclick="location.href='/reports/'">Back</button>